mixin nav 
    div(class="container")
        nav
            a(href="/")
                img(src="/img/logo.png" alt="" width="100")
            ol
                li
                    a(href="/products") Products
                li
                    a(href="/about") About
                li.signin  
                    a(href="/auth/login" ) Sign in 